<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
  <br/>
  <div class="field form-group d-grid gap-2 col-9 mx-auto">
  <%= form.label :name %>
  <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="field form-group d-grid gap-2 col-9 mx-auto">
  <%= form.label :description %>
  <%= form.text_field :description, class:"form-control" %>
  </div>
  
  <div class="field form-group d-grid gap-2 col-9 mx-auto">
  <%= form.number_field :user_id, id: :project_user_id, class:"form-control",value: current_user.id, type: :hidden %>
  </div>
<br/>
  <div class="actions d-grid gap-2 d-md-block col-3 mx-auto">
    <%= form.submit class:'btn btn-secondary' %>
  </div>

<% end %>
