<p style="color: green"><%= notice %></p>

<%= render @project %>

<div>
  <%= link_to "Edit Project", edit_project_path(@project) %> |
  <%= link_to "Back to projects", projects_path %>

  <%= button_to "Delete Project", @project, method: :delete %>
</div>
